
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h4>Super TicTacToe</h4>
            The rules of Super Tic Tac Toe  are simple, yet strategy based.  Instead of a single grid for a single game of Tic Tac Toe, you are presented with a 3 by 3 grid of 9 Tic Tac Toe grids.  Winning a game of Tic Tac Toe in any of the 9 grids will award you that “square.”  In order to win in Super Tic Tac Toe, you need to win 3 squares that form a line (3 horizontal, vertical, or diagonal).  Sounds simple enough, right?  Now here is where the strategic twist comes into play.  Depending on where your opponent played their X or O, that spot will correspond to the Tic Tac Toe game that will be played next.  Yeah, you cannot chose any spot on the Super Tic Tac Toe grid, your opponent chooses it for you!  For example, if my opponent places their O in the lower left corner of the Tic Tac Toe grid, my move will HAVE to be play in the lower left corner of the Super Tic Tac Toe grid!  Sounds confusing?  It’s not once you start playing!
            <img src="images/SuperTicTacToe.png" style="hight:400px;width:400px;"></img>
            It's up on <a href="https://github.com/charlesoconor/SuperTicTacToe">github</a>. Writen in java. Using java swing to create the GUI.  
        </div>
    </div>
</div>
