<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-repeat="link in nContr.data.pages" ng-class="{ active: nContr.isActive(link.link)}">
                    <a href="#{{ link.link }}">{{ link.displayName }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div ui-view></div>
